# Exclude test and dev folders
tests/
__tests__/
examples/
coverage/
scripts/

# Exclude env files
.env
.env.example

# Exclude config and IDE/editor files
.vscode/
*.log
*.env
*.DS_Store
*.swp
*.sublime-project
*.sublime-workspace

# Exclude git-related files
.git
.gitignore

# Exclude documentation
README.md
LICENSE

# Exclude node_modules (users will install their own)
node_modules/
